<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles/style8.css" />
    <title>Genezi Bank</title>
  </head>
  <body>
    <!-- Header Section -->
    <header class="navbar">
      <div class="navbar-left">
        <form action="new-user">
          <input type="submit" class="btn" name="" value="Register" />
        </form>
        <form action="existing-user">
          <input type="submit" class="btn" name="" value="Log In" />
        </form>
        <i class="bx bx-home"></i>
      </div>
      <div class="navbar-right">
        <ul class="secondary-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Agric & Export</a></li>
          <li><a href="#">CSR</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Helpdesk</a></li>
          <li><i class="bx bx-search"></i></li>
        </ul>
        <img src="static/styles/genezi-bank-Logo.png" alt="Genezi Logo" class="logo" />
      </div>
    </header>

    <nav class="primary-nav">
      <ul>
        <li><a href="#">Personal Banking</a></li>
        <li><a href="#">Digital Banking</a></li>
        <li><a href="#">SME Banking</a></li>
        <li><a href="#">Corporate Banking</a></li>
        <li><a href="#">Private Banking</a></li>
      </ul>
    </nav>

<section class="banner">
  <a href="https://www.canva.com/design/DAGUhH3cZkA/FsoEURmQbuQOfMp8DVJTCQ/edit?utm_content=DAGUhH3cZkA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
    target="_blank">
    <img src="static/styles/img10.png" alt="Banner Image" class="banner-img" />
  </a>
</section>



<section class="services-section">
         <h2 class="section-title">Our Products</h2>
         <h3 class="section-subtitle">Elevate Your Business</h3>
         <p class="section-description">
            At Genezi Bank, you can access a range of financial solutions tailored to your business needs, including loans, investments, and trade finance. Get the resources you need to grow and expand your reach.
         </p>
        
        <div class="service-grid">
            <!-- Service Card 1 -->
            <div class="service-card">
                <img src="static/styles/img12.svg" alt="Personal Banking" class="service-icon">
                <h4>Personal Banking</h4>
                <p>We offer a comprehensive range of personal banking products and services to meet your financial needs.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
            
            <!-- Service Card 2 -->
            <div class="service-card">
                <img src="static/styles/img17.svg" alt="Business Banking" class="service-icon">
                <h4>Business Banking</h4>
                <i class='bx bxs-business'></i>
                <p>We empower businesses with a comprehensive range of financial solutions, including loans and investments.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
            
            <!-- Service Card 3 -->
            <div class="service-card">
                <img src="static/styles/img14.svg" alt="Corporate Banking" class="service-icon">
                <h4>Corporate Banking</h4>
                <p>Our expertise in trade finance and global network enable businesses to expand beyond borders.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
            
            <!-- Service Card 4 -->
            <div class="service-card">
                <img src="static/styles/img11.svg" alt="Loans" class="service-icon">
                <h4>Loans</h4>
                <p>Unlock your financial potential with our extensive range of loan options for consumers and businesses.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
            
            <!-- Service Card 5 -->
            <div class="service-card">
                <img src="static/styles/children-solid.svg" alt="Royal Kiddies" class="service-icon">
                <h4>Royal Kiddies</h4>
                <p>Our bespoke children's savings account encourages financial prudence from a young age.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
            
            <!-- Service Card 6 -->
            <div class="service-card">
                <img src="static/styles/bxs-window-alt.svg" alt="E-Banking" class="service-icon">
                <h4>E-Banking</h4>
                <p>We offer a comprehensive E-Banking platform, providing a range of secure financial services 24/7.</p>
                <a href="#" class="service-link">Get started &rarr;</a>
            </div>
        

              <!-- Service Card 7-->
            <div class="service-card">
               <img src="static/styles/img16.svg" alt="SME Loans" class="service-icon">
                  <h4>SME Loans</h4>
                  <p>We offer a variety of SME loan options to help grow your business.</p>
                   <a href="#" class="service-link">Get started &rarr;</a>
              </div>


<!-- Service Card 8-->
            <div class="service-card">
               <img src="static/styles/bx-money-withdraw.svg" alt="Genezi POS" class="service-icon">
                  <h4>Genezi POS</h4>
                  <p>Your partner in seamless and secure POS experiences that ensure client statisfaction and seamless payment processing.</p>
                   <a href="#" class="service-link">Get started &rarr;</a>
              </div>

                </div>
       </section>



<section class="investor-relations">
  <div class="container">
    <div class="left-content">
      <h3>Investor Relations</h3>
      <h1>Explore the Latest Stories Shaping Our Financial Landscape</h1>
      <p>Be informed about our initiatives, partnerships, and the groundbreaking strides we're making in shaping the future of finance and banking.</p>
      
        </div>


      </div>
    </div>
    <div class="right-content">
      <img src="static/styles/investor_img-cbcYPP_A.jpg" alt="Business Meeting" class="right-img"/>
    </div>
  </div>
  
  <!-- Cards Section -->
  <div class="cards">
    <div class="card">
      <h3>Our Share Price</h3>
      <p>Track the rhythm of our stock through real-time updates, insightful analysis, and historical trends.</p>
    </div>
    <div class="card">
      <h3>Fixed Income & Ratings</h3>
      <p>Experience stability and confidence through our Fixed Income alternatives and ratings, a testament to the trust we inspire in the industry.</p>
    </div>
    <div class="card">
      <h3>Events & Presentations</h3>
      <p>Join us at our exclusive events where industry experts, thought leaders, and financial professionals converge to share valuable insights.</p>
    </div>
  </div>
</section>

<footer>
    <div class="footer-container">
        <!-- Left Section -->
        <div class="footer-left">
            <p>Genezi Bank</P>
            <p>Licensed by CBN</p>
            <div class="social-icons">
                <a href="#"><img src="static/styles/bxl-facebook-circle.svg" alt="Facebook"></a>
                <a href="#"><img src="static/styles/bxl-twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="static/styles/bxl-instagram-alt (1).svg" alt="Instagram"></a>
                <a href="#"><img src="static/styles/bxl-linkedin-square.svg"></a>
            </div>
            <p>Get ALAT app on</p>
            <div class="app-icons">
                <a href="#"><img src="static/styles/bxl-apple.svg" alt="App Store" alt="App Store"></a>
                <a href="#"><img src="static/styles/google-play-brands-solid.svg" alt="Google Play"></a>
            </div>
        </div>

        <!-- Right Section -->
        <div class="footer-right">
            <!-- Useful Links Column -->
            <div class="footer-column useful-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">ALAT</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Business Banking</a></li>
                    <li><a href="#">Hackaholics</a></li>
                    <li><a href="#">Personal Banking</a></li>
                    <li><a href="#">Sara</a></li>
                    <li><a href="#">Whistle Blower</a></li>
                </ul>
            </div>

            <!-- Help & Security Column -->
            <div class="footer-column help-security">
                <h4>Help & Security</h4>
                <ul>
                    <li><a href="#">Bank Safely</a></li>
                    <li><a href="#">Business Continuity Policy</a></li>
                    <li><a href="#">Card Control</a></li>
                    <li><a href="#">Features and Services Offered</a></li>
                    <li><a href="#">Information Security</a></li>
                    <li><a href="#">Secure your card</a></li>
                    <li><a href="#">Shop Safely Online</a></li>
                    <li><a href="#">Whistleblowing Policy</a></li>
                </ul>
            </div>

            <!-- Policies Column -->
            <div class="footer-column policies">
                <h4>Policies</h4>
                <ul>
                    <li><a href="#">Anti-bribery and Corruption Policy</a></li>
                    <li><a href="#">AML/CFT/CPT Policy</a></li>
                    <li><a href="#">Data Protection Policy</a></li>
                    <li><a href="#">Fraud Management Policy</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Risk Management Policy</a></li>
                    <li><a href="#">Sanctions Policy</a></li>
                    <li><a href="#">Service Management Policy</a></li>
                    <li><a href="#">Cybercrime Prevention Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>





    